deepsea:
  release: nautilus
  # clone software from git (default: True)
  use_upstream_gitrepo: True
  # or use a package repo (default: False)
  use_upstream_pkgrepo: False
  dev_env: False

  repo:
    git_url: https://git.example.com/repos/github/SUSE/DeepSea.git
    git_rev: experimental
 
  config:
    global: /srv/pillar/ceph/stack/global.yml
    dev_env: False

  packages:
    # Manage dependency packages with https://github.com/saltstack-formulas/packages-formula
    formula: False
    # Manage packages with this formula
    managed: True
    required: []
