deepsea:
  release: luminous
  # Clone software from git (default)
  use_upstream_gitrepo: True
  use_upstream_pkgrepo: False
  dev_env: False

  repo:
    git_url: https://git.example.com/repos/github/SUSE/DeepSea.git
    git_rev: experimental
 
  services:
    chrony: True

  packages:
    # Set True if https://github.com/saltstack-formulas/packages-formula manages
    # 'wanted' packages. By default, this formula manages required packages (False).
    formula: False
