deepsea:
  release: luminous
  # clone software from git (default)
  use_upstream_gitrepo: True
  use_upstream_pkgrepo: False
  dev_env: False

  repo:
    git_url: https://git.example.com/repos/github/SUSE/DeepSea.git
    git_rev: experimental
 
  config:
    global: /srv/pillar/ceph/stack/global.yml
    dev_env: False

  packages:
    # Set True if https://github.com/saltstack-formulas/packages-formula is used/preferred
    formula: False
