# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'deepsea/defaults.yaml' as defaults %}
{% import_yaml 'deepsea/osfamilymap.yaml' as osfamilymap %}

{## Use grains['grain'] based logic to build config model ##}

{% set deepsea = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        osfamilymap,
        grain='os_family',
        merge=salt['grains.filter_by'](
             {
             'Power': { 'myarch': '_Power', },
             'default': { 'repoarch': ''},
             },
             grain='osarch',
             merge=salt['pillar.get']('deepsea', {}),
        ),
    ),
    base='deepsea',
) %}

